<!DOCTYPE html> 
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Mobitrack</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script src="http://ajax.cdnjs.com/ajax/libs/mustache.js/0.3.0/mustache.min.js" type="text/javascript" charset="utf-8"></script>

    <script id="person-list-template" type="text/mustache-template">
    {{#persons}}
      <li id='person-{{id}}'>
        <a href="#persons?person={{index}}" >{{first_name}} {{last_name}} &mdash; {{riding}}</a>
      </li>
    {{/persons}}
    </script>

    <script id="error-list-template" type="text/mustache-template">
      <li id='error-{{id}}'>
        <a href="#" onclick='repostObservation({{id}}, {{value}})'>
            Connection Error: {{first_name}} {{last_name}} &mdash; {{riding}}
           
        </a>
      </li>
    </script>
    
    <script id="person-view-template" type="text/mustache-template">
    <div id="person-{{index}}-view-page" data-role="page">
        <div id="person-view-header-{{index}}" data-role="header"><h1>{{first_name}} {{last_name}}</h1></div>
            <div id="person-view-content-{{index}}" data-role="content">
            {{first_name}} {{last_name}} <br>
            {{riding}}
            <div class="field">
                <fieldset data-role="controlgroup" id='person-{{index}}-controlgroup'>
                    <!-- TODO: 5 buttons or radio buttons? -->
                    <a href="#observations?person={{id}}&amp;value=1" data-role="button">1 :)</a>
                    <a href="#observations?person={{id}}&amp;value=2" data-role="button">2</a>
                    <a href="#observations?person={{id}}&amp;value=3" data-role="button">3 :|</a>
                    <a href="#observations?person={{id}}&amp;value=4" data-role="button">4</a>
                    <a href="#observations?person={{id}}&amp;value=5" data-role="button">5 :(</a>
                </fieldset>
            </div>
            <a href="#home" data-role="button" >Back</a>
            
        </div>
        <div data-role="footer" data-id="page-footer" data-position="fixed">
        	<div data-role="navbar">
        	    <ul>
        	        <li><a href="#home">People</a></li>
        	        <li><a href="#connections">Connections</a></li>
        	    </ul>
        	</div>
        </div>
    </div>
    </script>
    
	
<script type="text/javascript" charset="utf-8">
    window.persons_list = [];
    window.person_index_by_id = {};
    
    $(function() {
        $.getJSON('/people', function(data){
            window.persons_list['persons'] = data;
            addIndexToObjectList(persons_list.persons);
            createIdIndex(persons_list.persons, person_index_by_id);
            var template = $('#person-list-template').html();
            var html = Mustache.to_html(template, persons_list);

            $('#delegate-list').html(html);
            $('#delegate-list').listview('refresh');
        });

 
        // Listen for any attempts to call changePage().
        $(document).bind( "pagebeforechange", function( e, data ) {
        	if ( typeof data.toPage === "string" ) {
        		var u = $.mobile.path.parseUrl( data.toPage );
        		if ( u.hash.search(/^#persons/) !== -1 ) {
        			//console.log(data.options);
        			var person_index = ( 
        			    hash2json(u.hash)['person']
    			    );
        			showPerson(u, person_index, data.options );

        			// Make sure to tell changePage() we've handled this call so it doesn't
        			// have to do anything.
        			e.preventDefault();
        		}
        	}
        });
 		// bind the pagebeforechange event for the new page
		// these event listers are added to the global scope and chained.
		$(document).bind( "pagebeforechange", function( e, data ) {
        	if ( typeof data.toPage === "string" ) {
        		var u = $.mobile.path.parseUrl( data.toPage );
        		if ( u.hash.search(/^#observations/) !== -1 ) {
        			var hash_vars = hash2json(u.hash);
        			console.log(hash_vars);
        			postObservation(hash_vars['person'], hash_vars['value']);


        			// Make sure to tell changePage() we've handled this call so it doesn't
        			// have to do anything.
        			e.preventDefault();
        		}
        	}
        });
        
        //enhance the connection page, normally done lazily, but we need to write to it in the background
        $('#connections').page();
        //load the persons data
        

    });
    

    function showPerson(urlObj, person_index, options ){
        //var person_index = parseInt(person_id);
        var template = $('#person-view-template').html();
        var html = Mustache.to_html(template, persons_list['persons'][person_index]);
        var page_element_id = "#person-" +  person_index  + "-view-page";
        //console.log(html);
        
        //add a new page if it doesn't exist
        if ($(page_element_id).length == 0){
            $("#home").after(html);
        }
        
        var $page = $(page_element_id);



        //do jqm formatting 
        $page.page();
        
        /// From sample code ...
        // We don't want the data-url of the page we just modified
		// to be the url that shows up in the browser's location field,
		// so set the dataUrl option to the URL for the category
		// we just loaded.
		options.dataUrl = urlObj.href;
		
		// Now call changePage() and tell it to switch to
		// the page we just modified.
		$.mobile.changePage( $page, options );
		

    }
    
    function hash2json(url){
        var get_variables_string = url.split("?")[1];
        var get_variables = get_variables_string.split("&");
        var json_data = {};
        for (i=0; i < get_variables.length; i++){
            var key_val = get_variables[i].split("=");
            json_data[key_val[0]] = key_val[1];
        }
        return json_data;
    }
    
    function addIndexToObjectList(list){
        for (i=0;i<list.length;i++){
            list[i]["index"] = i;
        }
    }
    function createIdIndex(list, index_dict){
        for (i=0;i<list.length;i++){
            index_dict[list[i]["id"]] = i;
        }        
    }
    
    
    function postObservation(person_id, value){
        console.log(person_id);
        var json_data = JSON.stringify({'person_id': person_id, 'value': value})
        $.ajax("/observation/create", {
            cache: false,
            data: json_data,
            type: 'POST',
            contentType:'application/json',
            //dataType: 'application/json',
            success: function(data, textStatus, jqXHR){
                //yay
                
                console.log("Success!");
                console.log(data);
                
                //TODO: remove from list
            },
            
            error: function(jqXHR, textStatus, errorThrown) {
                //TODO: Actually handle errors
                console.log(textStatus, errorThrown);
                var person_index = person_index_by_id[person_id];
                var person = persons_list.persons[person_index];
                var template = $('#error-list-template').html();
                console.log("Person:",person, "Person index:", person_index);
                console.log("func_data", {'person': person, 'value':value,'status': textStatus, 'error': errorThrown});
                var html = Mustache.to_html(template, {
                    'id': person.id,
                    'first_name': person.first_name ,
                    'last_name': person.last_name,
                    'riding': person.riding,
                    'value':value,
                    'status': textStatus, 
                    'error': errorThrown
                });
                console.log(html);
                $('#error-connection-ul').append(html);
                $('#error-connection-ul').listview('refresh');
            }
        });
        $.mobile.changePage("#home");
    }
    
    function repostObservation(person_id, value){
        //remove li
        $("#error-" + person_id).remove();
        postObservation(person_id, value);
        
    }
</script>



</head> 

	
<body>
<div id="home" data-role="page">
  <div data-role="header"><h1>Delegates</h1></div>
  <div data-role="content">

  	<ul data-role="listview" data-inset="true" data-filter="true" id='delegate-list'>

    </ul>
  </div>
  <div data-role="footer" data-id="page-footer" data-position="fixed">
  	<div data-role="navbar">
  	    <ul>
  	        <li><a href="#home">People</a></li>
  	        <li><a href="#connections">Connections</a></li>
  	    </ul>
  	</div>
  </div>
</div>

<div id='connections' data-role='page'>
    TODO:  Put stuff here.
    <ul id='active-connection-ul' data-role="listview" data-inset="true">
    </ul>
    <ul id='error-connection-ul' data-role="listview" data-inset="true">
    </ul>    
    <div data-role="footer" data-id="page-footer" data-position="fixed">
    	<div data-role="navbar">
    	    <ul>
    	        <li><a href="#home">People</a></li>
    	        <li><a href="#connections">Connections</a></li>
    	    </ul>
    	</div>
    </div>
</div>


</body>
</html>