<div data-role="header">
  <a data-role="button" href="/logout" data-icon="gear" data-iconpos="left" class="ui-btn-right" data-ajax="false">
    Log Out
  </a>
  <h3>Mobitrack</h3>
  <div data-role="navbar">
      <ul>
          <li><a href="#home">Search</a></li>
          <li><a href="#recent">Recent</a></li>
          <li><a href="#connections">Connections</a></li>
      </ul>
  </div>
</div>