<div id='connections' data-role='page'>
  {{> mobile/templates/_header}}
  <div data-role="content">
    <h3>Active</h3>
    <ul id='active-connection-ul' data-role="listview" data-inset="true">
    </ul>
    <hr />
    <h3>Errors</h3>
    <ul id='error-connection-ul' data-role="listview" data-inset="true">
    </ul>
  </div>   
</div>