<div id='recent' data-role='page'>
  {{> mobile/templates/_header}}
    <div data-role="content">
        <ul id='recent-person-ul' data-role="listview" data-inset="true">
        </ul>
    </div>
</div>