<div id='recent' data-role='page'>
  {{> _mobile_templates_header}}
    <div data-role="content">
        <ul id='recent-person-ul' data-role="listview" data-inset="true">
        </ul>
    </div>
</div>