<div id="search" data-role="page">
  {{> mobile/templates/_header}}
  <div data-role="content">  

    <label for="search-basic">Search Input:</label>
    <input type="search" name="search" id="search-basic" value="" />

    <ul data-role="listview" data-inset="true" id='delegate-list'>

    </ul>
  </div>
  <div data-role="footer" data-id="page-footer" data-position="fixed">
  </div>
  <div data-role="popup" id="connection_error_dialog" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all">
    <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Connection Error</h1>
    </div>
    <div data-role="content"  data-theme="d" class="ui-corner-bottom ui-content">
        <h3 class="ui-title">Could not load "People"</h3>
        <p>Unable to populate list. Please reload page.</p>  
        <a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">OK</a>  
    </div>
  </div>
</div>